<nav class="navbar navbar-expand-sm bg-warning navbar-warning">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand text-danger btn btn-outline-dark" href="#">Home</a>
		</div>
		  <ul class="navbar-nav navbar-right">

		  </ul>
  </div>
</nav>
<div class="row">
  <div class="col-sm-6 text-center" >
  	<ul class="list-group">
      <li class="list-group-item list-group-item-warning btn btn-dark "> <%= link_to "Our galary", root_path, :class => 'text-danger' %></li>
  </ul>
  </div>
  <div class="col-sm-6 text-center" >
  	<ul class="list-group">
      <li class="list-group-item list-group-item-warning btn btn-dark "> <%= link_to "Contact page", root_path, :class => 'text-danger' %> </li>
  </ul>
  </div>
</div>